[Unit]
Description=DEM Camera Stream Service
After=network-online.target mavlink-router.service
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/dem/pi.env
ExecStart=/usr/local/bin/dem-camera-stream-start.sh
Restart=always
RestartSec=2
User=pi
Group=pi
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
